

/* ======================================================
# コンテンツ幅
======================================================= */
$contents:1100;
$maxView:1366;
$minView:375;

/* ===============================================
画面サイズ
=============================================== */
//（小画面）
$x-small:399px;
// （モバイル）
$small: 599px;
//(タブレット中)
$medium: 780px;
// （タブレット大）
$large: 1023px;
// （ノートPC）
$x-large: 1279px;
// （アートボード）
$art-board: 1366px;



