@use "../variables/variables";
@use "../mixin/mixin";

.drawer-nav {
  display: block;
  position: fixed; 
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: translate(20%, -100%);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  &.active {
    animation: drawer forwards 0.8s ease;
    @keyframes drawer {
      0% {
        transform: translate(0%, 20%);
        opacity: 0;
      }
      100% {
        transform: translate(0%, 0%);

        opacity: 1;
      }
    }
  }
}
.drawer-nav__inner {
  min-height: calc(100% + 1px); //overscroll omits
}
.drawer-nav__links {
  display: grid;
  place-items: center;
}
